.main-layout {
  padding: 0px 40px;
  margin-top: 12px;
}
.loading-section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 100px);
}
.add-hero-button {
  position: fixed;
  bottom: 16px;
  right: 16px;
}
